<div class="move_down">

<div class="col-xs-12">
  <h2>Welcome!</h2>
</div>

<div class="row">

  <div class="col-xs-6 move_down_more">
    <table class="table text-center">
      <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to "#{book.title} (#{book.date_of_publication})", book_path( book ) %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="col-xs-6 move_down_more">
    <table class="table text-center">
      <% @adaptations.each do |adaptation| %>
      <tr>
        <td>
          <%= link_to "#{adaptation.title} (#{adaptation.date_of_release})", adaptation_path( adaptation ) %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>

</div>
</div>
