<h1>Books!</h1>

<h2>The Books</h2>
  <!-- This goes to book show page-->
<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to "#{book.title} (#{book.author})", book_path(book) %>
  </li>
  <% end %>
</ul>


<!-- This goes to adaptations index page -->
<ul>
  <% @books.each do |book| %>
  <li>
    <%= link_to book.title, adaptations_path(book) %>
  </li>
  <% end %>
</ul>
