<div class="move_down">

  <div class="col-xs-12 move_up">

      <h2>The Books
      <p class="inline small yellow-text"> <%= link_to("(add new book)", new_book_path) if @current_user %></p>
      </h2>


  </div>

  <div class="row move_down_more">

    <div class="col-xs-8 col-centered text-center">
      <table class="table">
        <% @books.each do |book| %>
        <tr>
          <td>
            <%= link_to "#{book.title} (#{book.author})", book_path(book) %>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

</div>
