<p> <%= link_to("(add new book)", new_book_path) if @current_user %></p>
<h2>The Books</h2>
  <!-- This goes to book show page-->
<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to "#{book.title} (#{book.author})", book_path(book) %>
  </li>
  <% end %>
</ul>
