<div class="move_down">

  <div class="col-xs-6">
    <h2 class="move_up">The Adaptations</h2>
  </div>

<div class="row move_down_more"> <!-- <sarcasm>Great non-semantic name for a CSS class!</sarcasm> -->

  <div class="col-xs-8 col-centered text-center">
    <table class="table">
      <% @adaptations.each do |adaptation| %>
      <tr>
        <td>
          <%= link_to "#{adaptation.title} (#{adaptation.date_of_release})", adaptation_path( adaptation ) %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
</div>
