<h2>The Adaptations</h2>
<!-- This goes to adaptation show -->
<ul>
  <% @adaptations.each do |adaptation| %>
    <li>
      <%= link_to "#{adaptation.title} (#{adaptation.date_of_release})", adaptation_path( adaptation ) %>
    </li>
  <% end %>
</ul>
