<h1>Adaptations!</h1>


<!-- This goes to adaptation show -->
<ul>
  <% @adaptations.each do |adaptation| %>
    <li>
      <%= link_to "#{adaptation.title} - #{adaptation.book.title}", adaptation_path( adaptation ) %>
    </li>
  <% end %>
</ul>
